html{background:white}
body
{
    width:100%;
    margin:auto;
}
#input
{
    display:none;
}
.error
{
    background-color:white;
    text-align:centre;
    color:black;
    padding-top: 70px;
    margin:auto;
    height: 35px;
    border-style:none none solid none;
    border-width: 2px;
    border-color:red;
}
.wrapper
{
    width: 100%;
    background-color:green;
    height:70px;
    position:fixed;
}
#content
{
    padding-top: 10px;
}
.header
{
    width: 1000px;
    margin:auto;
}
.empty
{
    width: 30px;
    height: 30px;
    border-radius: 9px;
    border-style:solid;
    border-width: 1px;
    border-color:green;
}

input{
    text-align:center;
}
.notify
{
    padding-top:10px;
    height: 30px;
    width:300px;
    margin: auto;
    display:none;
    text-align:centre;
}
table
{
   margin: auto;
}
td
{
    height: 30px;
    width: 30px;
}
.G
{
    background-color:green;
    width: 30px;
    height: 30px;
}

